body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list,
.header-address {
  display: none;
}

.logo-web-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.logo-studio {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2e2f42;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding: 24px 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    content: "";
    opacity: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link:hover::after,
  .nav-link:focus::after,
  .nav-link-act::after {
    opacity: 1;
  }

  .header-address {
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-link-act,
  .nav-link:focus,
  .nav-link:hover,
  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}

/* mob-menu */

.mob-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mob-menu-container {
  position: relative;
  padding: 72px 16px 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu:not(.is-open) .mob-menu-container {
  transform: translateX(100%);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(231, 233, 252, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: #2e2f42;
}

.mob-nav {
  margin-bottom: auto;
}

.mob-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: flex-start;
  justify-content: flex-start;
}

.mob-nav-link {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link-act {
  color: #404bbf;
}

.mob-address {
  margin-bottom: 48px;
}

.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mob-address-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mob-address-tel {
  color: #4d5ae5;
}

.mob-social-list {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}

/* hero */

.hero {
  max-width: 320px;
  padding: 72px 0;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-mob-2x.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 216px;
  text-align: center;
  margin: 0 auto 72px;
}

.button {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desc.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to bottom,
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desc-2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/* advantages */

.section {
  padding: 96px 0;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.advantages-icon-wrap {
  display: none;
}

.advantages-subtitle {
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .advantages-list {
    gap: 72px 24px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-subtitle {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
  }

  .advantages-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-text {
    font-weight: 400;
  }
}

/* team */

.team {
  background-color: #f4f4fd;
}

.team-container {
  padding: 0 28px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.team-item {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info-container {
  padding: 32px 0;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .team-container {
    padding: 0 108px;
  }

  .team-list {
    gap: 64px 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .team-container {
    padding: 0 15px;
  }

  .team-list {
    gap: 24px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/* portfolio */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.portfolio-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-overlay-text {
  display: none;
}

.portfolio-img-container {
  position: relative;
  overflow: hidden;
}

.portfolio-info-container {
  min-height: 120px;
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    gap: 72px 24px;
  }

  .portfolio-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-list {
    gap: 48px 24px;
  }

  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-overlay-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px 32px;
    background-color: #4d5ae5;
    display: block;
  }

  .portfolio-item:hover .portfolio-overlay-text {
    transform: translateY(0);
  }

  .portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  }
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.footer-about-wrap {
  margin: 0 auto;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-about-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}

.footer-social-wrap {
  margin: 0 auto;
}

.footer-text-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.footer-social-list {
  gap: 16px;
}

.footer-social-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-subscribe-wrap {
  margin: 0 auto;
}

.footer-input {
  padding-left: 16px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: 1px solid #ffffff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  color: #ffffff;
  outline: none;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  opacity: 0.3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input::placeholder {
  color: #ffffff;
  opacity: 0.6;
}

.footer-input:focus-within::placeholder {
  color: #31d0aa;
}

.footer-input:hover,
.footer-input:focus-within {
  border-color: #31d0aa;
}

.footer-form-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 16px auto 0 auto;
}

.footer-form-icon {
  fill: #f4f4fd;
  margin-left: 16px;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #31d0aa;
}

@media screen and (min-width: 768px) {
  .footer-container {
    gap: 72px 24px;
    padding: 0 108px;
  }

  .footer-about-wrap {
    margin: 0;
  }

  .footer-logo {
    display: block;
  }

  .footer-about-text {
    max-width: 264px;
  }

  .footer-social-wrap {
    margin: 0;
  }

  .footer-text-title {
    display: block;
  }

  .footer-subscribe-wrap {
    margin: 0;
  }

  .footer-form {
    display: flex;
    gap: 24px;
  }

  .footer-input {
    width: 264px;
  }

  .footer-form-btn {
    margin: 0;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer-container {
    align-items: baseline;
    padding: 0 15px;
    gap: 0;
  }

  .footer-about-wrap {
    margin-right: 120px;
  }

  .footer-subscribe-wrap {
    margin-left: auto;
  }
}

/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 288px;
  min-height: 623px;
  border-radius: 4px;
  padding: 72px 16px 24px;
  background-color: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop:not(.is-open) .modal {
  transform: translate(-50%, -50%) scale(0.1);
}

.modal-close-btn {
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-btn:hover .close-icon,
.modal-close-btn:focus .close-icon {
  fill: #fff;
}

.modal-title {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  color: #434455;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus-within + .modal-icon {
  fill: #4d5ae5;
}

.modal-comment {
  margin-bottom: 16px;
}

.modal-text {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #434455;
  padding: 8px 16px;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text::placeholder {
  color: #8e8f99;
  opacity: 0.5;
}

.modal-input:focus-within,
.modal-text:focus-within {
  border-color: #4d5ae5;
}

.modal-checkbox-wrap {
  margin-bottom: 24px;
}

.modal-checkbox-label {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  margin-right: 8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox-input:checked + .modal-checkbox-label .modal-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
  }

  .modal-checkbox-label {
    display: block;
  }
}
